NOTION_TOKEN=secret_xxxxxxxxxxxxxxxxx
NOTION_PARENT_PAGE_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NOTION_DATA_SOURCE_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NOTION_API_VERSION=2026-03-11

INTHISWORK_DESIGN_URL=https://inthiswork.com/design
SYNC_MODE=recent
RECENT_LIST_PAGES=3
FULL_LIST_PAGES=0
RECHECK_OPEN_LIMIT=20
MAX_POSTS_PER_RUN=0
INTHISWORK_REQUEST_DELAY_SECONDS=2.5
REQUEST_TIMEOUT_SECONDS=25
DRY_RUN=false
